# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.docz
.vscode
# testing
/coverage

# production
/build
/dist
.next
next
out
# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#server file
packages/functions/next
package-lock.json
.firebase
.firebaserc
#submodule
packages/reusecore
.cache/
now.json
firebase.json